<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>チャンネル</title>
</head>
<body>
    <h1>チャンネル一覧</h1>
    < method="POST">
        <div class="main-container">
  <div class="channel-title">
    <h1>CHANNELS</h1>
    <p class="channel-title-text">CHANNELS</p>
  </div>
  <div id="channels-list">
    <div id="pagination-wrapper">
      <div>
        <div class="pagination-container">
          <p id="prev">
            <
            <span>PREV</span>
          </p>
          <ul class="pagination"></ul>
          <p id="next">
            <span>NEXT</span>
            >
          </p>
        </div>
      </div>
    </div>
    <ul class="channel-box"></ul>
  </div>
</body>
</html>