<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
 　　 {% if messages %}
   　　 <ul class="flashes">
    　　  {% for message in messages %}
   　　     <li>{{ message }}</li>
  　　    {% endfor %}
   　　 </ul>
 　　 {% endif %}
　　{% endwith %}
    <h1>ログイン</h1>
    <form method="POST">
        <div>
            <label for="email">EMAIL ADDRESS</label>
            <input type="text" name="email" required>
        </div>
        <div>
            <label for="password">PASSWORD</label>
            <input type="password" name="password" required>
        </div>
        <input type="submit" value="ログイン">
    </form> 
</body>
</html>