<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サインアップ</title>
</head>
<body>
    <h1>新規登録</h1>
    <form method="post">
        {{ form.hidden_tag()}}
        {% for field in form %}
  {% for error in field.errors %}
    <div style="color: red;">{{ field.label.text }}: {{ error }}</div>
  {% endfor %}
{% endfor %}
    <div>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </div>
        <div>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </div>
        <div>
            {{ form.nickname.label }}<br>
            {{ form.nickname(size=32) }}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>